@media screen and (max-width: 1142px){
	.left_model	{ width:calc(100% - 320px); }
	.right_interface	{ width:320px; }
	.presets_wrapper .preset_caption	{ font-size:14px; }
}
@media screen and (max-width: 700px){
	.left_model	{ width:100%; }
	.right_interface	{ transform:translateX(100%); transition:transform .5s; padding:44px 0 20px 2px; }
	.show_settings .right_interface	{ transform:translateX(0); }
	.settings_btn	{ display:block; top:0; right:0; }
	.collapse_btn	{ display:block; position:absolute; left:0; top:0; width:100%; height:44px; line-height:44px; font-family:RobotoCond; font-size:16px; font-weight:700; padding-left:10px; opacity:0; transition:opacity .3s; }
	.show_settings .collapse_btn	{ opacity:1; }
	
	.zoom_wrapper	{ right:auto; left:50%; top:0; transform:translateX(-50%); display:flex; }
	.zoom_wrapper .zoom	{ margin:1vh 2vw;  }
}
@media screen and (max-width: 320px){
	.right_interface	{ width:100%; }
}