header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.logo_city {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.logo_city img {
  width: 100%;
}
.city {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}
.city p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
  pointer-events: none;
}
.city_drop {
  position: absolute;
  top: 100%;
  left: 0;
  width: 220px;
  height: 180px;
  background-color: #fff;
  border: 1px solid #252525;
  z-index: 5;
  padding: 10px 0 10px 10px;
}
.city_drop_hero {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  align-items: flex-start;
}
.city_drop_hero li {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
  border-bottom: 1px solid #252525;
  width: 100%;
}
.city svg {
  pointer-events: none;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav a {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
}
.contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.contacts_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contacts_tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.contacts_tel a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
}
.contacts_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}
.contacts_icons {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}
.contacts_icons svg {
  width: 25px;
  height: 25px;
  color: #252525;
}
.contacts_mail a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
}
.burger {
  display: none;
}
.burger_drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
}
.burger_drop_hero {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.burger_drop > svg {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 40px;
  color: #252525;
}

@media screen and (max-width: 1024px) {
  .logo_city {
    width: 20%;
  }
  .logo_city p {
    font-size: 12px;
  }
  .city {
    gap: 2px;
  }
  .city p {
    font-size: 12px;
    line-height: 20px;
  }
  nav {
    gap: 10px;
  }
  nav a {
    font-size: 12px;
    line-height: 18px;
  }
  .contacts_icons svg {
    width: 20px;
    height: 20px;
  }
  .contacts_mail a {
    gap: 2px;
    font-size: 12px;
    line-height: 20px;
  }
  .contacts_tel a {
    font-size: 12px;
    line-height: 20px;
  }
  .contacts {
    gap: 10px;
  }
  .contacts_left {
    gap: 5px;
  }
}
@media screen and (max-width: 768px) {
  .city {
    display: none;
  }
  nav {
    display: none;
  }
  .contacts {
    display: none;
  }
  .logo_city {
    width: max-content;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .burger svg {
    font-size: 40px;
    color: #252525;
  }
  header {
    margin: 20px 0;
  }
  .burger_drop_hero {
    padding: 50px 0;
  }
  .burger_drop_hero nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .burger_drop_hero nav a {
    font-size: 20px;
    line-height: 30px;
  }
  .burger_drop_hero .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
  }
  .contacts_mail a {
    gap: 2px;
    font-size: 18px;
    line-height: 22px;
  }
  .contacts_tel a {
    font-size: 18px;
    line-height: 22px;
  }
  .contacts_icons svg {
    width: 25px;
    height: 25px;
  }
  .contacts_mail a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #252525;
  }
  .contacts_icons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
  }
  .burger_drop_hero .city {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
  }
  .burger_drop_hero .city p {
    font-size: 20px;
  }

  .city_drop {
    position: absolute;
    top: calc(100% + 10px);
    left: -5px;
    width: 100%;
    width: 220px;
    height: 140px;
    background-color: #fff;
    border: 1px solid #252525;
    z-index: 5;
  }
}
@media screen and (max-width: 480px) {
  .burger_drop_hero .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
  }
  .contacts_icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
  }
  .contacts_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .logo_city img {
    width: 70%;
  }
}
